<% if @session.errors.empty? %>
  $('<%= escape_javascript(render @session) %>').appendTo($('#sessions'));
<% else %>
  $('<span class="error-message"><%= escape_javascript(@session.errors.full_messages.join(',')) %></span>').appendTo($('#new_session_form'))
<% end %>
