<% if @enrolment.errors.empty? %>
  $('<%= escape_javascript(render @enrolment) %>').appendTo($('#enrolments'));
<% else %>
  $('<span class="error-message"><%= escape_javascript(@enrolment.errors.full_messages.join(',')) %></span>').appendTo($('#new_enrolment_form'))
<% end %>
