<% if @enrolment.errors.empty? %>
  $('<%= escape_javascript(render @enrolment) %>').appendTo($('#enrolments ul'));
<% else %>
  $('<p class="error-message"><%= escape_javascript(@enrolment.errors.full_messages.join(',')) %></p>').insertBefore($('#new_enrolment'))
<% end %>
