<% if @enrolment.errors.empty? %>
  $('<%= escape_javascript(render :partial => 'enrolment', :object => @enrolment) %>').hide().appendTo($('#enrolments')).fadeIn('fast').css('display', 'table-row');
<% else %>
  $('<span class="error-message"><%= escape_javascript(@enrolment.errors.full_messages.join(',')) %></span>').appendTo($('#new_enrolment_form'))
<% end %>
