<div class="past_event event">
  <%= image_tag event.poster_url, alt: event.name %>
  <div class="event_brief">
    <h3><%= link_to event.name, event %></h3>
    <p>举办日期：<%= event.hold_date %></p>
    <p>举办地点：<%= event.location %></p>
  </div>
</div>
