<section id="pending_events">
<%= render collection: @pending_events, partial: 'pending_event', as: :event %>
</section>

<section id="past_events">
  <h2>往期活动</h2>
  <%= render collection: @past_events, partial: 'past_event', as: :event %>
</section>
