<h1>关于重庆Open Party</h1>
<p>Open Party，本着自由、开放、分享、互动的宗旨，采用“非会议（Unconference）”的形式，为参与者提供一个平等、自由的分享与获取知识的平台。 无分行业、领域、年龄，只要有一颗乐于分享，热情求知的心，您就是我们的一员。</p>
<p>重庆Open Party，由几位旅行爱好者创建于2012年8月，逐渐吸引了各行各业，不同兴趣朋友参与。</p>
<p>新浪微博：<a href="http://weibo.com/cqop">@重庆OpenParty</a></p>
<p>豆瓣小站：<a href="http://site.douban.com/195460/">重庆OpenParty</a></p>
<p>活动讨论QQ群：187804495<a target="_blank" href="http://wp.qq.com/wpa/qunwpa?idkey=0b9be8f7add07e843fca0623231d33415a06c14586a8d07945aa71adcbd1f0c7"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="重庆OpenParty" title="重庆OpenParty"></a></p>
<p>组织者：梦林 I388397I35O <a href="mailto:openpartychongqing@gmail.com">电子邮件</a></p>
