/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.datepicker
 */

* {
  box-sizing: border-box;
}

div#wrapper {
  width: 90%;
  max-width: 1200px;
  min-width: 640px;
  position: relative;
  margin: 0 auto;
}

header {
}

nav {
  overflow: auto;
  background-color: hsl(200,30%,80%);
}

nav li, aside li {
  list-style-type: none;
}

nav li a, aside li a {
  float: left;
  font-size: 2em;
  padding: .5em;
  text-decoration: none;
}

article img {
  box-shadow: 6px 6px 6px silver;
}

aside {
  position: fixed;
  top: 200px;
}

footer {
  padding-top: 50px;
  clear: both;
  text-align: center;
}

/* remove the list style */
#login_menu {
  margin:0; 
  padding:0; 
  list-style:none;
  width: 100px;
  float: right;
} 

/* submenu, it's hidden by default */
#login_menu {
  position:absolute; 
  left:0; 
  display:none; 
  margin:0 0 0 -1px; 
  padding:0; 
  list-style:none;
}

#login_menu li {
  width:100px; 
  float:left; 
  border-top:1px solid #fff;
}

/* display block will make the link fill the whole area of LI */
#login_menu a {
  display:block;  
  height:15px;
  padding: 8px 5px; 
  color:#666;
}

#login_menu a:hover {
  text-decoration:underline;  
}
