/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require jquery.ui.datepicker
 *= require_self
 */

header {
  background-color: hsl(200,30%,80%);
  border-radius: 5px;
  margin: 5px 0;
  padding: 0.5em;
}

header a {
  text-decoration: none;
}

#wrapper {
  max-width: 1200px;
  min-width: 640px;
  position: relative;
  margin: 0 auto;
}

#mainNav {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: hsl(200,30%,80%);
  border-radius: 5px;
}

header a:hover, #mainNav a:hover {
  background-color: hsl(200,30%,20%);
}

#mainNav li {
  list-style: none;
  float: left;
}

#mainNav > li > a {
  text-decoration: none;
  padding: 0 .5em;
  font-size: 2em;
}

#mainNav > li:last-child {
  float: right;
}

#userNav {
  position: relative;
}

.avatar {
  width: 32px;
  height: 32px;
  box-shadow: none;
  border-radius: 5px;
}

#userMenu {
  display:none;
  position: absolute;
  top: 2em;
  margin: 0;
  padding: 0;
  background-color: hsl(200,30%,80%);
}

#content {
  clear: both;
}

article img {
  box-shadow: 6px 6px 6px silver;
}

footer {
  clear: both;
  text-align: center;
  border-top: solid 2px silver;
}
