// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  overflow: auto;
};

#past_events {
  margin-top: 2em;
  border-top: solid red 2px;
};

.event {
  margin: 10px 5px 5px 0;
  float: left;
};

.event:hover {
}

.event:active {
}

.pending_event img {
  float: left;
  width: 60%;
};

.pending_event .event_brief {
  float: left;
  width: 30%;
  margin-left: 2em;
}

.past_event {
  width: 24%;
  padding: 0 5px;
}

.past_event img {
  width: 100%;
}

#enrolments {
  float: left;
  width: 20%;
  border: solid 2px silver;
  padding: 5px;
  box-shadow: 1px 1px 1px silver;
}

#enrolments ul {
  padding: 0;
}

.enrolment {
  float: left;
  padding: 5px;
  list-style: none;
  margin: 0;
}

#new_enrolment {
  clear: both;
}

#topics {
  float: right;
  width: 75%;
  padding: 5px;
  border: solid 2px silver;
  box-shadow: 1px 1px 1px silver;
}
/*
#new_topic_form {
  display: none;
} */
