form {
  padding-top: 50px;
  text-align: center;
}

.field {
  border: solid 1px silver;
  box-shadow: 2px 2px 2px silver;
  width: 40%;
  margin: 20px auto;
  padding: 10px;
  overflow: auto;
}

.field_with_errors {
  color: red;
}

.actions {
  font-size: 2em;
}

.current {
  background-color: silver;
  -webkit-transform: scale(1.5, 1.5);
  -ms-transform: scale(1.5, 1.5);
  -moz-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
}

