/*
*= require surveyor/reset
*= require surveyor/jquery-ui-1.10.0.custom
*= require surveyor/jquery-ui-timepicker-addon
*= require surveyor/ui.slider.extras
*= require surveyor/results
*= require surveyor
*/
.text {
  height: 8em;
}

.string, .text{
  width: 40em;
}

span.title {
  display: none;
}

.surveyor_menu {
  display: none;
}

#surveyor fieldset.q_default {
  margin-top: 1em;
}
