<!DOCTYPE html>
<html>
<head>
  <title>重庆Open Party</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1><a href="/">重庆Open Party</a></h1>
  <p>Open Party，本着自由、开放、分享、互动的宗旨，采用“非会议（Unconference）”的形式，为参与者提供一个平等、自由的分享与获取知识的平台。
    无分行业、领域、年龄，只要有一颗乐于分享，热情求知的心，您就是我们的一员。</p>
  </header>
<%= yield %>

</body>
</html>
